/* Product Badge containers */
.product-badge-container {
    position: absolute;
}

.product-badge {
    font-size: 11px;
    position: relative;
}

.product-badge-container--top-left {
    top: 0;
    left: 0;
    text-align: left;

    .product-badge {
        margin-bottom: 4px;
        float: left;
        clear: left;
    }
}

.product-badge-container--top-right {
    top: 0;
    right: 0;
    text-align: right;

    .product-badge {
        margin-bottom: 4px;
        float: right;
        clear: right;
    }
}

.product-badge-container--bottom-left {
    bottom: 0;
    left: 0;
    text-align: left;

    .product-badge {
        margin-top: 4px;
        float: left;
        clear: left;
    }
}

.product-badge-container--bottom-right {
    bottom: 0;
    right: 0;
    text-align: right;

    .product-badge {
        margin-top: 4px;
        float: right;
        clear: right;
    }
}

/* Product Badge Type Specifics */
.product-badge--rectangle {
    padding: 4px;
    line-height: 1;
    background: #EE7042;
    color: #fff;
}

.product-badge--circle {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background: #B21816;
    color: #fff;

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.product-badge--is_sale {
    background: #B21816 !important;
}

.product-badge--has_discount.product-badge {
    font-size: 20px;
}

.product-badge__decorator-element {
    position: absolute;
    top: 0;
    left: 10%;
    font-size: 18px;
}

/* Product Badge Product View */
.catalog-product-view .product-essential .product-image {
    .product-badge--circle {
        border-radius: 43px;
        height: 86px;
        width: 86px;
        line-height: 86px;
    }

    .product-badge {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .product-badge--rectangle {
        padding: 6px;
    }

    .product-badge--rectangle.product-badge {
        font-size: 24px;
    }

    .product-badge--has_discount.product-badge {
        font-size: 30px;
    }

    @media (min-width: 770px) {
        .product-badge-container--top-left {
            top: -10%;
        }

        .product-badge-container--top-right {
            top: -10%;
            right: 15px;
        }
    }

    .product-badge__decorator-element {
        position: absolute;
        top: 0;
        left: 13%;
        font-size: 29px;
    }
}
