.product-badges-chooser-line {
    clear: both;
}

.product-badges-chooser-position-box {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px #CC0000 solid;
}

.product-badges-chooser-position-box-allowed {
    cursor: pointer;
    background: #fff;
}

.product-badges-chooser-position-box-active {
    background: #eb5e00 !important;
}

.product-badges-chooser-position-box-disabled {
    background: #ccc;
    cursor: not-allowed;
}

/* Product Badge Preview */
.product-badge--rectangle {
  padding: 4px;
  line-height: 1;
  background: #EE7042;
  color: #fff;
  display: inline-block;
}

.product-badge--circle {
  border-radius: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background: #B21816;
  color: #fff;
  display: inline-block;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

.product-badge-color-picker-hint {
  position: relative;
  top: 5px;
}