<?xml version="1.0"?>
<config>
    <modules>
        <CustomGento_ProductBadges>
            <version>1.0.4</version>
        </CustomGento_ProductBadges>
    </modules>
    <global>
        <models>
            <customgento_productbadges>
                <class>CustomGento_ProductBadges_Model</class>
                <resourceModel>customgento_productbadges_resource</resourceModel>
            </customgento_productbadges>
            <customgento_productbadges_resource>
                <class>CustomGento_ProductBadges_Model_Resource</class>
                <deprecatedNode>customgento_productbadges_mysql4</deprecatedNode>
                <entities>
                    <badge_config>
                        <table>customgento_productbadges_badges_config</table>
                    </badge_config>
                </entities>
            </customgento_productbadges_resource>
        </models>
        <resources>
            <customgento_productbadges_setup>
                <setup>
                    <module>CustomGento_ProductBadges</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </customgento_productbadges_setup>
        </resources>
        <helpers>
            <customgento_productbadges>
                <class>CustomGento_ProductBadges_Helper</class>
            </customgento_productbadges>
        </helpers>
        <blocks>
            <customgento_productbadges>
                <class>CustomGento_ProductBadges_Block</class>
            </customgento_productbadges>
        </blocks>
        <customgento_productbadges>
            <rules>
                <stock_status>
                    <condition_class>customgento_productbadges/rule_condition_product_stockStatus</condition_class>
                    <transformer_class>customgento_productbadges/condition_transformer_stockStatus</transformer_class>
                    <internal_code>stock_status</internal_code>
                    <label>Stock Status</label>
                </stock_status>
            </rules>
            <renderer_types>
                <circle>
                    <block>customgento_productbadges/render_type_circle</block>
                    <admin_label>Circle</admin_label>
                </circle>
                <rectangle>
                    <block>customgento_productbadges/render_type_rectangle</block>
                    <admin_label>Rectangle</admin_label>
                </rectangle>
                <image>
                    <block>customgento_productbadges/render_type_image</block>
                    <admin_label>Image</admin_label>
                </image>
            </renderer_types>
            <render_containers>
                <top-left>
                    <internal_code>top-left</internal_code>
                    <css_class>product-badge-container--top-left</css_class>
                </top-left>
                <top-right>
                    <internal_code>top-right</internal_code>
                    <css_class>product-badge-container--top-right</css_class>
                </top-right>
                <bottom-left>
                    <internal_code>bottom-left</internal_code>
                    <css_class>product-badge-container--bottom-left</css_class>
                </bottom-left>
                <bottom-right>
                    <internal_code>bottom-right</internal_code>
                    <css_class>product-badge-container--bottom-right</css_class>
                </bottom-right>
            </render_containers>
        </customgento_productbadges>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customgento_productbadges before="Mage_Adminhtml">CustomGento_ProductBadges_Adminhtml</customgento_productbadges>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <customgento_productbadges>
                    <file>customgento_productbadges.xml</file>
                </customgento_productbadges>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <customgento_productbadges>
                    <file>customgento_productbadges.xml</file>
                </customgento_productbadges>
            </updates>
        </layout>
    </frontend>
</config>
